<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees List</title>
</head>
<body>
<!-- /* @thymeleaf id="employee" type="com.pzombade.springboot.model.Employee" */ -->
<h1>Employees Listing</h1>
<table>
    <thead>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </thead>
    <tbody>
        <tr th:each="employee : ${allEmps}">
            <td th:text="${employee.empNo}">Dummy ID</td>
            <td th:text="${employee.firstName}">First Name</td>
            <td th:text="${employee.lastName}">Last Name</td>
        </tr>
    </tbody>
</table>
</body>
</html>